
// SETUP
@import 'setup/_typography';
@import 'setup/_variables';
@import 'setup/_mixins';
// @import 'setup/functions';

// BASICS
@import 'basics/helpers';
@import 'basics/base';
@import 'basics/_layout';

// COMPONENTS
@import 'cmps/_app-header';
@import 'cmps/_toy-filter';
@import 'cmps/_toy-list';
@import 'cmps/_toy-preview';


// @import 'cmps/teaser';
// @import 'cmps/pager';
// @import 'cmpss/news';
// @import 'cmps/cards';
// @import 'cmps/sidebar';

//PAGES
@import 'pages/_home-page';
@import 'pages/_toy-index';